<!DOCTYPE html>
<html lang="en" class="no-js">

<head>

    <meta charset="utf-8">
    <title>Login</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!--PRODUCCION-->
    <!--<link rel="stylesheet" href="/auditoriasV2/resources/css/normalize.css">-->
    <!--<link rel="stylesheet" href="/auditoriasV2/resources/css/materialize.css">-->
    <!--<link rel="stylesheet" href="/auditoriasV2/resources/css/counts.css">-->

    <!--&lt;!&ndash;PRUEBAS&ndash;&gt;-->
    <!-- CSS
     <link rel="stylesheet" href="/resources/css/supersized.css">
     <link rel="stylesheet" href="/resources/css/style.css">
     <!--  <link rel="stylesheet" href="/resources/css/normalize.css">
     <link rel="stylesheet" href="/resources/css/materialize.css">
     <link rel="stylesheet" href="/resources/css/counts.css">
 -->
</head>

<body>
<div class="page-container">

    <div id="Contenedor2">

        <br></br>
        <!--<span class="login100-form-avatar">
                    <img src="assets/img/prueba22.png" alt="AVATAR">
                </span>-->
        <h8>Login</h8>
        <br></br>

        <form action="">
            <!--  <div class="input-field col s2"   id="JUsernamel">
                    <input placeholder="Username" id="JUsername" type="text" class="validate">
                  <i class="material-icons left">user</i>
                </div>
                <div class="input-field col s2"   id="JUpasswordl">
                    <input placeholder="Username" id="JUpassword" type="password" class="validate">
                    <i class="material-icons left">user</i>
                </div>-->
            <input type="text" id="JUsername" class="username" placeholder="Username">
            <br></br>
            <input type="password" id="JUpassword" class="password" placeholder="Password">
            <br></br>
            <!--<button id="but_search_user" type="submit">Iniciar Sesion</button>-->
            <div class=" col s2">
                <ul class="left hide-on-med-and-down">
                    <li><a class="waves-effect waves-light btn" id="but_search_user">
                        Iniciar Sesion <i class="material-icons left">play_circle_outline</i>
                    </a>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</div>


<!--PRODUCCION-->
<!--<link rel="stylesheet" href="/auditoriasV2/resources/css/normalize.css">-->
<!--<link rel="stylesheet" href="/auditoriasV2/resources/css/materialize.css">-->
<!--<link rel="stylesheet" href="/auditoriasV2/resources/css/counts.css">-->

<!--&lt;!&ndash;PRUEBAS&ndash;&gt;-->
<!-- Javascript -->
<!--<script src="/resources/js/jquery-1.8.2.min.js"></script>-->
<!--<script src="/resources/js/supersized.3.2.7.min.js"></script>-->
<!--<script src="/resources/js/supersized-init.js"></script>-->
<!--<script src="/resources/js/scripts.js"></script>-->
<script src="/resources/js/materialize.js"></script>
<script src="/resources/js/ajax_library_flascano.js"></script>
<script src="/resources/js/Login.js"></script>
<script src="/resources/js/Login_Event.js"></script>

</body>

</html>

